html, body {
	max-width: 100%;
	overflow-x: hidden;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

ol {
    counter-reset: item;
}

ol li { 
    display: block; 
}

ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: #5bc0de;
}

@media (min-width: 750px) {
    .table{
        width: 60%;
        margin: auto;
    }
}

@media (max-width: 750px) {
    .card-columns {
        @include media-breakpoint-only(lg) {
            column-count: 1;
        }
    }
}
